/* estilos para el protafolio */
 @font-face{
    font-family: Colaborate-Bold;
    src: url(../fonts/ColabBol.otf);
} 
body{
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Colaborate-regular';
    margin: 0;
}
/* 
h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Colaborate-bold';
} */

h1{
    font-family: 'Colaborate-regular' ;
    font-size: 32pt;
    letter-spacing: -.5px;
    color: #ffffff;
    text-decoration: ;
    border-top: 20px #fff solid;
    display: inline-block;
    margin-left: -65px;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header{
    background-color: #313440;
    height: 60px;
    color: #ffffff;
}
.menu{
    height: inherit;
}
.header ol{
    display: flex;
    height: inherit;
    justify-content: right;
    
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: inherit;
    color: #fff;
    text-decoration: none;
    font-size: 20pt;
    padding: 0 15px;
}








.logo{
    background-image: url(../imagenes/logo.svg);
    height: 300px;
    /* margin: 150px 0 0 200px; */
    background-size: 300px 300px;
    background-repeat: no-repeat;
}

.hero-image{
    background-image: url(../imagenes/fondo-persona.jpg);
    height: 750px;
    background-size: 1903px 900px;
    background-repeat: no-repeat;
    padding: 150px 0 0 350px;
}

strong{    
    font-family: 'Colaborate-Bold';
    font-size: 34pt;
    color: #fa0063;
}

.line{
    height: 25px;
    background: #313440;
}

.section-title{
    color: #0bc1c8;
    text-align: center;
    font-size: 50pt;
    margin: 5px 0;
}

.first-part{
    height: 300px;
    margin: 0 60px;
    padding: 20px 200px;
    border-radius: 10px 10px 0 0;
    background-color: #f3f3f3;
    display: flex;
}


.skill-card{
    /* background-color: red; */
    margin: 6px 51px;
}

.skill-card img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 160px;
}

.skill-card h4{
    font-family: 'Colaborate-Bold';
    font-size: 30pt;
    margin: 0;
    text-align: center;
}
.skill-card p{
    margin: 5px 20px;
    display: inline-block;
    font-size: 14pt;
    text-align: center;
}

/* parte 2 */

.second-part{
    background:#f3f3f3;
    margin: 0px;
    height: 465px;
    margin: 0 60px 20px 60px;
    padding: 20px 200px;
    border-radius: 0 0 10px 10px;
    display: flex;
}
.skill{

    /* background-color: green; */
    margin: 0px 15px;
    width: 649px;
    box-sizing: border-box;
}
.second-part img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 260px;
}
.second-part h3{
    font-family: 'Colaborate-Bold';
    font-size: 30pt;
    text-align: center;
    margin: 5px;
}
.second-part p{
    font-size: 14pt;
    text-align: center;
}

.items{
    background-color: #f3f3f3;
    height: 850px;
    margin: 0 60px 20px 60px;
    padding: 120px 422px;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.project-card{
    background-color: blueviolet;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    margin: 5px;
    flex-shrink: 0;    
}

.blog-card{
    background-color: blueviolet;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    margin: 50px 5px;
    display: inline-block;
}
.blog-card img{
    background-color: brown;
    width: 300px;
    height: 250px;
}
.blog-card h5 {
    font-family: 'Colaborate-Bold';
    font-size: 28pt;
    margin: 10px 20px;
}
.blog-card p {
    margin: 5px 20px;
    font-size: 14pt;
}

.blog-card a{
    font-size: 16pt;
    text-decoration: none;
}
.contacto-mapa{
    background-color: #4f5467;
    height: 500px;
    margin: 0 60px 20px 60px;
    padding: 120px 422px;
    border-radius: 10px;
    box-sizing: border-box;
}

.footer{
    background-image: url(../imagenes/fondo.png);
    height: 150px;
    margin: 0;
    box-sizing: border-box;
}
.red{
    /* background-color: violet; */
    height: 80px;
    margin: 0;
    padding: 15px 0 ;
    display: flex;
    justify-content: center;
}
.red a{
    align-items: center;
    height: inherit;
    margin: 0 20px;
}

.red img{
    height: inherit;
}
.footer p{
    text-align: center;
    color: white;
}
.cc{
    width: 12px;
}

.copyright{
    margin: 0;
}