/* estilos para el protafolio */
 @font-face{
    font-family: Colaborate-Bold;
    src: url(../fonts/ColabBol.otf);
} 
body,
textarea{
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Colaborate-regular';
    margin: 0;
}
/* 
h1, h2, h3, h4, h5, h6, strong{
    font-family: 'Colaborate-bold';
} */

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.header{
    background-color: #313440;
    height: 65px;
    padding: 0 3% 0 ;
    border-bottom: teal solid 5px;
    /* position: fixed; */
}

.header img{
    width: 30px;
    margin: 0 10px 0 0;
}
.menu{
    display: flex;
    justify-content: space-around;
}
.header ol{
    display: inherit;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    display: flex;
    align-items: center;
    height: 60px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 15px 0px 15px;
}
.header a:hover,
.header a:active{
    color: #fa0063;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    /* border-bottom: #fa0063 10px solid; */
    position: static;
}

.hero-image{
    /* border-top: teal 10px solid; */
    height: 880px;
    background-image: url(/imagenes/fondo-persona.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: relative; */
    display: flex;
}
.hero {
    margin: 0px;
    padding-top: 100px;
    width: 1000px;
    text-align: center;
    box-sizing: border-box;
    height: inherit;

}
.logo{
    background-image: url(../imagenes/logo.svg);
    height: 300px;
    box-sizing: border-box;
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero h1{
    font-family: 'Colaborate-regular' ;
    font-size: 32pt;
    letter-spacing: -.5px;
    color: #ffffff;
}
strong{
    border-top: 15px #fff solid;    
    font-family: 'Colaborate-Bold';
    font-size: 34pt;
    color: #fa0063;
}

.btn{
    display: inline-block;
    width: 300px;
    text-align: center;
    font-family: 'Colaborate-Regular';
    font-size: 18pt;
    padding: 10px 0;
    border: 4px solid #fa0063;
    border-radius: 5px;
    color: white;
    outline: none;
    background-color: transparent;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.btn:hover, .btn:active{
    background-color: teal;
    border: 4px solid teal;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}


.line{
    height: 25px;
    background: #313440;
}
.title-container{
    display: flex;
    justify-content: center;
}
.section-title{
    color: teal;
    display: flex;
    justify-content: center;
    font-size: 3em;
    margin: 6px 0;
    border-bottom: 10px solid #fa0063;
}

.first-part{
    margin: 1% 5% 0;
    padding: 1% 10%;
    border-radius: 10px 10px 0 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
}

.skill-card{
    width: 240px;
    margin: 6px 40px;
    flex-shrink: 0;
}

.skill-card img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 160px;
}

.skill-card h4{
    font-family: 'Colaborate-Bold';
    font-size: 2em;
    margin: 0;
    text-align: center;
}
.skill-card p{
    margin: 5px 20px;
    display: inline-block;
    font-size: 1em;
    text-align: center;

}

/* parte 2 */

.second-part{
    background:#f3f3f3;
    margin: 0 5% 5%;
    padding: 1% 5%;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
}
.skill{
    margin: 0 1%;
    width: 48%;
    height: inherit;
    flex-shrink: 0;
}
.skill-exp{
    width: 48%;
    margin: 0 1%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: flex-start;

}

.experience{
    width: auto;
    height: 100%;
    margin: 1% 0;
}

.second-part .imagen {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 260px;
}
.second-part h3{
    font-family: 'Colaborate-Bold';
    font-size: 2em;
    text-align: center;
    margin: 5px;
}
.second-part p{
    font-size: 1em;
    text-align: center;
}

.items{
    background-color: #f3f3f3;
    margin: 2% 5% 5%;
    padding: 1% 10%;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
}
.project-card{
    background-image: url(../imagenes/business.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    margin: 10px 25px;
    border-right: 7px solid teal;
    border-bottom: 7px solid teal;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: .8em;
}

.btn-container{ 
    height: 50px;
}
.btn-event{
    font-family: 'Colaborate-Bold';
    font-size: 1em;
    padding: 10px 5px;
    border: 5px solid teal;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    flex-shrink: 0;
}
.btn-event:hover{
    background-color: teal;
    border: 4px solid teal;
    color: white;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.project-description{
    width: 90%;
    height: 50%;
    background-color: rgba(34, 164, 185, 0.86);
    border-radius: 5px;
    margin: auto;
}
.project-card p{
    font-family: 'Colaborate-Bold';
    border-radius: 1px solid teal;
    font-size: 1em;
    margin: 1px 20px;
}

.blog-card{
    background-color: white;
    border-radius: 10px;
    border-right: #313440 4px solid;
    border-bottom: #313440 4px solid;
    width: 300px;
    height: 600px;
    box-sizing: border-box;
    margin: 5% 1%;
    overflow: hidden;
    font-size: 20px;
    padding-bottom: 1%;
}
.blog-card img{
    background-image: url(../imagenes/notebook.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: inherit;
    height: 40%;
}

.blog-content{
    display: flex;
    flex-direction: column;
    height: 60%;
}

.blog-content h5 {
    font-family: 'Colaborate-Bold';
    font-size: 2em;
    margin: 10px 20px;
}
.blog-content h6 {
    text-transform: uppercase;
    margin: 5px 20px;
    font-size: .8em;
    color: gray;
}
.blog-content p {
    margin: 5px 20px;
    font-size: 1em;
}
.div{
    width: 94%;
    height: 100%;
    margin: 1px 3%;
    display: flex;
    justify-content: flex-end;
}
.blog-content div a{
    font-size: 1em;
    text-decoration: none;
    align-self: flex-end;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    color: #313440;
    border: 4px solid;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.blog-content div a:hover{
    
    border: 4px solid #fa0063;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.contact{
    background-color: #f3f3f3;
    height: 50%;
    margin: 2% 5% 5%;
    padding: 2% 10%;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contact-form{
    width: 500px;
}

.contact-form input{
    height: 30px;
    width: 100%;
    background-color: #313440;
    color: white;
    font-size: 1em;
    margin: 1% 0;
    padding: 0 3%;
    display: block;
}

.contact-form textarea{
    height: 150px;
    width: 100%;
    background-color: #313440;
    color: white;
    font-size: 14pt;
    margin: 1% 0;
    padding: 0 3%;
}

.btn-form{
    font-size: 16pt;
    text-decoration: none;
    align-self: flex-end;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    color: #313440;
    border: 4px solid;
    display: block;
    justify-content: right;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
    
.btn-form:hover{       
    border: 4px solid #fa0063;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
.footer{
    background-image: url(../imagenes/fondo.png);
    /* height: 150px; */
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
}
.red{
    /* background-color: violet; */
    /* height: 80px; */
    margin: 0;
    padding: 15px 0 ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.red a{
    align-items: center;
    height: inherit;
    margin: 5px 20px;
    widows: 80px;
    height: 80px;
    flex-shrink: 0;
}

.red img{
    height: inherit;
}
.footer p{
    text-align: center;
    color: white;
}
.cc{
    width: 12px;
}


@media screen and (max-width: 1024px){

}

@media screen and (max-width: 767px){
    .header{
        height: auto;
        padding: 0 1em 0 1em;

    }
    .menu{
        display: initial;
    }
    .menu div{
        height: 100%;
        border-bottom: teal 4px solid;
        font-size: 1.4em;
    }
    .header a{
        justify-content: center;
        font-size: 1.1em;
        height: 40px;
    }

    .header a:hover,
    .header a:active{
    color: #fa0063;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    border-bottom: initial;
    position: static;
    }
    .line{
        height: 10px;
    }
    .section-title{
        font-size: 2em;
    }
    .first-part,
    .second-part,
    .items,
    .blog-card
    {
        font-size: 16px;
    }
    .skill-card img{
        max-width: 100%;
    }
    .second-part{
        font-size: 16px;
        display: block;
    }
    .skill{
        width: auto;
    }
    .second-part .imagen{
        max-width: 100%;
    }
    .skill-exp{
        width: auto;
        margin: 2% 0;
    }
    .experience{
        margin: 1% 0;
    }

    .blog-card

}
@media screen and (max-width: 480px){
    
}
@media screen and (max-width: 320px){
    
}